:root{
    --cor-header: #006BA8;
    --cor-qm-foi-nikola:#C4C4C4;
    --cor-footer: rgb(0, 140, 255);
    --cor-text: rgb(212, 212, 212);
}

body{
    font-family: 'Quicksand', sans-serif;
}

*{
   list-style: none;
    margin: 0px;
    padding: 0px;
}

header{
    background: var(--cor-header);
    height: 100px;
    border-radius: 0px 0px 20px 20px;
}

.titulo{
    text-align: center;
}

header{
    border:4px rgb(76, 78, 211);
    box-shadow: 0px 0px 35px aqua, 0px 0px 25px rgb(0, 0, 255);
}

main{
  margin-top: 50px;
}

main .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0px;
}

main .sub-title{
  margin-left: 250px;
}

main .qm_foi_nikola{
  padding: 15px;
  width: 300px;
  border-radius: 11px;
  background-color: var(--cor-qm-foi-nikola);
}

main .objetivo{
  text-align: center;
  margin-top: 100px;
}

main .obj div{
  margin-top: 25px;
  text-align: center;
}

footer{
  background-color: var(--cor-header);
  color: var(--cor-text);
}

.videos{
  display: flex;
  justify-content: space-around;
  padding-bottom: 60%;
  position: relative;
}

div .videos > iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.refer{
  margin-top: 80px;
  text-align: center;
}

/*Responsividade============================================================================================================================================================================*/
@media(max-width: 1182px){
  .videos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}