:root{
    --cor-header: #006BA8;
    --cor-qm-foi-nikola:#C4C4C4;
}

body{
    font-family: 'Quicksand', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background: var(--cor-header);
    height: 100px;
    border-radius: 0px 0px 20px 20px;
}

header{
    border:4px rgb(76, 78, 211);
    box-shadow: 0px 0px 35px aqua, 0px 0px 45px rgb(0, 0, 255);
}

.titulo{
    text-align: center;
}

.nikola{
  max-width: 416px;
  max-height: 416px;
}

.sub-title{
  margin-left: 480px;
}

.img_svg{
  margin-left: 100px;
  margin-top: 30px;
}

.qm_foi_nikola{
  width: 300px;
  background-color: var(--cor-qm-foi-nikola);
  border-radius: 11px;
  float: right;
  margin-right: 100px;
  margin-top: -415px;
  padding: 5px;
}

.qm_foi_nikola ul li{
  list-style: none;
  padding: 10px;
}

.objetivo{
  margin-top: 207px;
  text-align: center
}